@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* BEGIN GENERAL STYLES */
body, html {
	position: relative;
}

.search-icon {
	height: 22px;
	width: 22px;
	background: url(../img/icons/seach.png) no-repeat center;
	border: none;
}

* {
	font-family: PT Sans;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 21px;
	color: #febc2f;
	padding-left: 30px;
	padding-bottom: 10px;
	border-bottom: #33c29b solid 1px;
}

.modal h2 {
	border-bottom: none;
	padding-left: 0px;
}

input {
	font-size: 20px;
}

.padding {
	padding: 50px 100px
}

.vertmargin-big {
	margin: 75px auto;
}

.vertmargin {
	margin: 50px auto;
}

.vertmargin-small {
	margin: 25px auto;
}

.vertmargin-tiny {
	margin: 10px auto;
}

p.big {
	font-size: 31px !important;
}

.relative {
	position: relative;
}

.aqua-green {
	color: #1dbb90;
}

.aqua {
	color: #1eaace;
}

.gray {
	color: #a0a0a0;
}

.center-text {
	text-align: center;
}

.inline-block {
	display: inline-block;
}



.transform-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inline-list {
    list-style: none;
}

.inline-list li {
    display: inline;
}

/* END GENERAL STYLES */

/* BEGIN BUTTONS */

.btn-submit {
	background-color: #1dbb90;
	width: 152px;
	height: 34px;
	color: #fff;
	margin: 10px auto;
	display: block;
}

.btn-submit:hover, .btn-submit:focus {
	background-color: #148365;
	min-width: 152px;
	min-height: 34px;
	color: #ddd;
}

.btn-action {
	background-color: #1eaace;
	color: #fff;
	width: 152px;
	margin: 10px auto;
	display: block;
	height: 34px;
}

.btn-action:hover, .btn-action:focus {
	background-color: #188AA6;
	color: #ddd;
}

.btn-save {
	border-radius: 0px;
	background-color: #fbca61;
	color: #fff;
	width: 158px;
	height: 38px;
	float: right;
}

.btn-save:hover, .btn-save:focus {
	background-color: #E2B657;
	color: #fff;
}

.btn-left {
	margin: 15px 0px;
}


/* END BUTTONS */

/* BEGIN HEADER */

.biblioteca-header {
	position: relative;
	height: 138px;
	border-top: #febc2f solid 4px;
	border-bottom: #febc2f solid 5px;
	margin-bottom: 0px;
	font: 400 16px PT Sans;
}

.biblioteca-header .form-group {
	position: relative;
}

.biblioteca-header .search-icon {
	position: absolute;
	top: 5px;
	right: 2px;
	z-index: 450;
}

.biblioteca-header .navbar-header {
	margin-right: 3%;
}

.biblioteca-header .navbar-collapse {
	margin-top: 40px;
	margin-right: 195px;
}

.biblioteca-header .navmenu {
	white-space: nowrap;
}

.biblioteca-header .navbar-collapse li {
	color: #1e3e87;
	margin: 0px 10px;
}

.biblioteca-header .navbar-form input {
	width: 183px;
	border-radius: 0px;
	border: 1px solid #febc2f;
	padding-right: 25px;
}

.biblioteca-header .profile-navbar {
	float: right;
	margin-top: -49px;
}

.biblioteca-header .profile-navbar p {
	color: #febc2f;
	display: inline-block;
}

.biblioteca-header .profile-navbar img {
	border: 0px solid #febc2f;
	border-radius: 3px;
}

.biblioteca-header .search-dropdown {
	display: none;
	position: absolute;	
	width: 183px;
	background-color: #fafafa;
	color: #c2c2c2;
	border: 1px solid #d2d2d2;
	z-index: 500;
}

.biblioteca-header .search-dropdown div {
	height: 30px;
	padding: 5px 5px 0px 5px;
	cursor: pointer;
}

.biblioteca-header .search-dropdown div p {
	display: inline-block;
	float: left;
	margin-bottom: 0px;
}

.biblioteca-header .search-dropdown div img {
	display: inline-block;
	float: right;
	margin-top: 2px;
}

.biblioteca-header .search-dropdown div:hover {
	background-color: #febc2f;
	color: #fff;
}

.biblioteca-header .search-dropdown div:hover img {
	filter: brightness(0) invert(100%);
	-webkit-filter: brightness(0) invert(100%);
}

.biblioteca-header .navbar-toggle {
	border: 1px solid #bdbdbd;
}

.biblioteca-header .navbar-toggle:hover {
	border: 1px solid #bdbdbd;
	background-color: #eee;
}

.biblioteca-header .icon-bar {
	background-color: #bdbdbd;
}

/* END HEADER */

/* BEGIN CONTENT */

.login-bg {
	background: url(../img/backgrounds/bookshelf.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 500px;
	height: 70vh;
	position: relative;
	padding: 10px;
}

.search-bg {
	background: url(../img/backgrounds/background2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 500px;
	height: 70vh;
	position: relative;
	padding: 10px;
}

.login-panel, .search-panel {
	min-height: 383px;
	max-width: 571px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	padding: 10px 100px;
	margin: auto;
}

.login-panel label, .search-panel label {
	font-size: 18px;
	display: block;
	color: #a0a0a0;
	margin-top: 30px;
	font: 400 18px / 14.768px PT Sans;
}

.login-panel input, .search-panel input {
	width: 100%;
	height: 48px;
	margin: 0px auto;
	display: block;
	background-color: transparent;
	border-radius: 5px;
	border: #e78d0c solid 1px; 
	padding-right: 40px;
	padding-left: 10px;
}

.login-panel input:focus, .login-panel input:active, .search-panel input:focus, .search-panel input:active {
	border: #e78d0c solid 1px; 
	border-radius: 5px;
	outline-width: 0;
	box-shadow: 2px 4px 7px 0.00px rgba(92, 92, 92, 0.42);
}

.login-panel input[type="text"] {
	background: url(../img/icons/user.png) no-repeat 97% 50%;
}

.login-panel input[type="password"] {
	background: url(../img/icons/lock.png) no-repeat 97% 50%;
}

.login-panel .btn-submit, .search-panel .btn-action {
	margin: 30px auto;
}

.search-panel input#title {
	background: url(../img/icons/book.png) no-repeat 97% 50%;
	background-size: 20px;
}

.search-panel input#autor {
	background: url(../img/icons/autor.png) no-repeat 97% 50%;
	background-size: 20px;
}

.search-panel input#folio {
	background: url(../img/icons/book2.png) no-repeat 97% 50%;
	background-size: 20px;
}

.content-wrapper {
	box-shadow: 0px 0px 29px 0.00px rgba(92, 92, 92, 0.22);
	min-height: 500px;
}

.profile-parallax-wrap {
	position: absolute;
	bottom: 20px;
}

.profile-picture {
	height: 166px;
	width: 166px;
	border: 1px solid #febc2f;
	border-radius: 12px;
	display: inline-block;
}

.profile-name {
	position: absolute;
	font-size: 33px;
	color: #fff;
	display: inline-block;
	bottom: 0px;
	left: 180px;
	width: 500px;
	margin-bottom: 0px;
}

#profile-info label {
	color: #a0a0a0;
	margin-top: 35px;
	margin-right: 30px;
	margin-left: 30px;
}

#profile-info input {
	width: 100%;
	border: #33c29b solid 1px;
	height: 47px;
	margin-top: 25px;
	padding: 5px;
}

#profile-info input[type="radio"] {
	width: 0;
  	margin: 0;
  	padding: 0;
  	font-size: 1em;
  	opacity: 0;
	position: absolute;
}

#profile-info input[type="radio"] + label {
	margin-left: 0px;
}

#profile-info input[type="radio"] + label > span{
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 7px;
	border: #33c29b solid 1px;
	background: #fff;
	border-radius: 0px;
	vertical-align: middle;
}

#profile-info input[type="radio"]:checked + label > span{
	box-shadow: 0 0 6.7px 0.30px rgba(71, 71, 71, 0.22) inset;	
}



#profile-info input[type="radio"]:checked + label > span > span{
	display: block;
	width: 30px;
	height: 30px;
	margin: 7px;
	background: url(../img/icons/checked.png) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#profile-info input:active, #profile-info input:focus {
	box-shadow: 1px 2px 5.7px 0.30px rgba(71, 71, 71, 0.72);
}

#profile-info .inline-block {
	margin-left: 30px;
}

.book-history {
	position: relative;
	border: #000 solid 1px;
	border-radius: 5px;
	margin: 20px -15px;
	width: calc(100% + 30px);
	padding: 20px;
}

.book-history .col-sm-3 {
	border-right: 1px solid #000;
	padding: 5px 15px;
}

.book-cover {
	float: right;
	padding: 10px;
	border: #000 solid 1px;
	border-radius: 5px;
}

.book .book-cover {
	float: none;
	display: inline-block;
	vertical-align: top;
}

.book-history ul {
	float: left;
	list-style: none;
	color: #a0a0a0;
	line-height: 34px;
	padding-left: 0px;
}

.status {
	width: 131px;
	height: 102px;
	box-shadow: 0px 0px 16px 0.00px rgba(92, 92, 92, 0.26);
	float: right;
	margin: 53px 40px 53px 0px;
	color: #fff;
	padding: 10px 0px;
	position: relative;
	text-align: center;
}

.final-status {
	width: 247px;
	height: 57px;
	text-align: center;
	margin: 10px auto;
	text-align: center;	
	color: white;
	padding: 15px;
}

.status p, .final-status p {
	font: 400 19px PT Sans;
	line-height: 25px;
}

.book ul {
	list-style: none;
	color: #a0a0a0;
	line-height: 30px;
	display: inline-block;
}

.book.blue .book-cover, .book.blue ul {
	border-color: #10b0f2;
}

.book.yellow .book-cover, .book.yellow ul {
	border-color: #fbca61;
}

.book-history.returned,.book-history.returned .book-cover, .book-history.returned .col-sm-3 {
	border-color: #33c29b;
}

.book-history.adeudo, .book-history.adeudo .book-cover, .book-history.adeudo .col-sm-3 {
	border-color: #fbca61;
}

.book-history.adeudo .status, .status.adeudo, .final-status.adeudo {
	background-color: rgba(254, 188, 47, 0.9);
}

.book-history.returned .status, .status.returned, .final-status.returned {
	background-color: rgba(29, 187, 144, 0.9);
}

.pages {
    margin: 40px auto;
	max-width: 70%;
    font-size: 12px !important;
    padding: 20px 20px 13px 20px;
    border-top: #1dbb90 solid 2px;
    border-bottom:  #1dbb90 solid 2px;
}

.pages p {
    font-size: 12px !important;
	color: #128f6d;
	text-align: center;	
}

.pages a {
    color: #a7a7a7;
    margin: 0px 10px;
}

.pages a:hover {
    color: #a7a7c7;
}

.pages li.next-page {
    height: 18px;
    width: 18px;
    margin-top: -3px;
    background: url(../img/icons/next-page.png) no-repeat center;
    border: #ccc solid 1px;
    border-radius: 2px;
}

.pages li.next-page:hover {
    box-shadow: inset 0 0 0 10px rgba(100,100,100,.15);
}

.active-page {
    font-weight: 900;
    color: #333 !important;
}

.modal-content {
	padding: 20px;
}

.modal .col-sm-8 {
	border-left: #fbca61 solid 1px;
}

.modal .btn-submit {
	float: right;
	margin-right: 15px;
}

.modal .row.ready .col-sm-8 img {
	margin-top: -65px;
}

.modal .row.ready .col-sm-4 img {
	position: relative;
	top: 35px;
}

.modal h1 small {
	position: relative;
 	top: -15px;
}

.modal label {
	font: 400 11.37px PT Sans;
	display: block;
	color: #a0a0a0;
}

.modal input {
	display: block;
	height: 55px;
	border: #fbca61 solid 1px;
	width: 100%;
	margin-bottom: 25px;
	padding: 5px;
}

.modal-dialog {
	top: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -75%) !important;
	-ms-transform: translate(-50%, -75%) !important;
	-o-transform: translate(-50%, -75%) !important;
	transform: translate(-50%, -75%) !important;
}

.modal input#date {
	background: url(../img/icons/calendar.jpg) no-repeat 97% 50%;
}

.modal input#hour {
	background: url(../img/icons/clock.png) no-repeat 97% 50%;
}

/* END CONTENT */

/* BEGIN HOVER */

.hoveroverlay {
    overflow: hidden;
    position:relative;
	display: inline-block;
	border-radius: 5px;
}

.hoveroverlay:after, .hoveroverlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.yellow .hoveroverlay:after {
    content: "";
    background: url(../img/hover/yellow.png) no-repeat center center;
    width:100%; height:100%;
    top:0; left:0;
	background-color: rgba(248, 210, 125, 0.9)
}

.blue .hoveroverlay:after {
    content: "";
    background: url(../img/hover/blue.png) no-repeat center center;
    width:100%; height:100%;
    top:0; left:0;
	background-color: rgba(30, 170, 206, 0.9);
}

.hoveroverlay:before, {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
}
.hoveroverlay:hover:after, .hoveroverlay:hover:before {
    opacity:1;
}

/* END HOVER */

/* BEGIN FOOTER */

footer {
	background-color: #1dbb90;
	color: white;
	text-align: center;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	color: #bcbcbc;
	text-decoration: none;
}

.footer-content {
	padding: 30px 0px;	
}

.footer-rights {
	background-color: #14b280;
	min-height: 46px;
	padding-top: 13px;
}

/* END FOOTER */

/* BEGIN PARALLAX */
.parallax-container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: auto;
    z-index: 5;
}

.parallax {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.parallax img {
    display: none;
    position: absolute;
    bottom: 0;
    min-width: 960px;
    width: 100%;
    background-position: center; 
}
/* END PARALLAX */

/* BEGIN MEDIA QUERIES */
@media (max-width: 1199px) {
	.biblioteca-header .navbar-collapse li {
		margin: 0px;
	}
}

@media (max-width: 991px) {
	.padding {
		padding: 50px;
	}
}

@media (max-width: 767px) {
	
	.login-panel, .search-panel {
		padding: 20px;
		top: 0px;
		left: 0px;
		transform: translate(0);
	}
	
	.modal-dialog {
		top: 0;
		position: static;
		left: 0;
		transform: none !important;
	}
	
	.modal-dialog .book-img {
		margin: 10px auto 25px auto;
		display: block;
	}
	
	.hoveroverlay{
		left: 50%;
		transform: translate(-50%);
	}
	
	body {
		padding-top: 60px;
	}
	
	.biblioteca-header {
		height: 60px;
		position: fixed;
		z-index: 50;
		width: 100%;
		top: 0px;
		background-color: #fff;
	}
	
	.biblioteca-header .navbar-brand img {
		max-height: 40px;
		margin-top: -10px;
	}
	
	.biblioteca-header .navbar-collapse {
		position: fixed;
		z-index: 30;
		background-color: #fff;
		width: 220px;
		right: 0;
		margin-top: 6px;
		margin-right: 0px;
		border: 1px solid #bcbcbc;
	}
	
	.biblioteca-header .navbar-collapse * {
		text-align: right;
	}
	
	.biblioteca-header .navbar-toggle {
		margin-right: -15px;
	}
	
	.biblioteca-header .profile-navbar {
		margin-right: 70px;
		margin-top: -45px;
	}
	
	.biblioteca-header .profile-navbar img {
		max-height: 40px;
	}
	
	.profile-picture {
		height: 100px;
		width: 100px;
		border: 1px solid #febc2f;
		border-radius: 5px;
		display: inline-block;
	}
	
	.profile-name {
		position: absolute;
		font-size: 33px;
		color: #fff;
		display: inline-block;
		bottom: 0px;
		left: 120px;
		width: 500px;
	}
	
	.padding {
		padding: 50px 10px
	}
	
	#profile-info input[type="radio"] + label > span{
		margin-top: 0px;
		margin-left: 15px;
	}
	
	

	#profile-info input {
		margin-top: 0px;
		margin-left: 15px;
		width: 90%;
	}
	
	#profile-info label {
		margin-left: 15px;
	}
	
	.book-history .col-sm-3 {
		text-align: center;
	}
	
	.book-cover {
		float:none;
		margin: 20px auto;
		display: inline-block;
	}
}
/* END MEDIA QUERIES */

.close {
	position: relative;
	top: -5px;	
	font-size: 40px;
	right: 10px;
	color: inherit;
}
